{%  extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Settings
{% endblock title %}


{% block navbar %}

{%  include 'navbar.html' %}

{% endblock navbar %}

{% block content %}
<div class="mt-5">
 <table class="table table-bordered">
    <thead>
      <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
          <th>Collage</th>
          <th>Avg</th>
        <th>Points</th>

      </tr>
    </thead>
    <tbody>
    {% for student in object_list %}
      {% if student.role == 2 %}
      <tr>
        
        <td>{{student.username}}</td>
        <td>{{student.first_name}}</td>
        <td>{{student.last_name}}</td>
        <td>{{student.email}}</td>
          <td>{{student.collage}}</td>
          <td>{{student.avg}}</td>
        <td>{{student.point}}</td>

      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock content %}
