{%  extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Settings
{% endblock title %}


{% block navbar %}

{%  include 'navbar.html' %}

{% endblock navbar %}

{% block content %}

<div class="mt-5">
 <table class="table table-bordered">
    <thead>
      <tr>
        <th>From</th>
        <th>subject</th>
        <th>message</th>
      </tr>
    </thead>
    <tbody>
    {% for msg in object_list %}
    {% if msg.to.username == request.user.username %}
      <tr>
        <td>{{msg.msg_from}}</td>
        <td>{{msg.subject}}</td>
        <td>{{msg.message}}</td>
      </tr>
    {% endif %}
      {% endfor %}
    </tbody>
  </table>
  </div>

{% endblock content %}